<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>Document</title>
    <noscript id="deferred-styles">
        <!-- Vendor styles plugins -->
        <link rel="stylesheet" href="./vendor/reset-css/reset.css">
        <!-- Styles application -->
        <link rel="stylesheet" href="./css/style.css">
    </noscript>
</head>
<body>