.icon-svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;	
}

.icon-svg-corrected {
	font-size:(17.6/10)*1rem;
	width:(17.9/17.6)*1em;
}
.icon-svg-facebook {
	font-size:(67/10)*1rem;
	width:(67/67)*1em;
}
.icon-svg-halo {
	font-size:(136/10)*1rem;
	width:(259/136)*1em;
}
.icon-svg-message {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-search {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-svg-twitter {
	font-size:(67/10)*1rem;
	width:(67/67)*1em;
}
.icon-svg-youtube {
	font-size:(56.693/10)*1rem;
	width:(56.693/56.693)*1em;
}
